<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>虎子社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/community.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid ">
        <div class="jumbotron">
            <h1>老人家手抖，出错了......</h1><p th:text="${message}"></p>
            <img src="/css/images/errorGit.gif" style="height: 200px;width: 200px;">
            <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
        </div>
</div>
<div style="text-align: center;color: #999999" >Designed and built with all the love in the world by @mdo and @fat. <br>
    Maintained by the core team with the help of<br>
    our contributors.
    本项目源码受 MIT开源协议保护，文档受 CC BY 3.0 开源协议保护。<br>
</div>
</body>
</html>